<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:asset.script
        identifier="ai-assistant-premium-search-enhancer"
        src="EXT:ai_assistant_premium/Resources/Public/JavaScript/AiAssistantSearchEnhancer.js"
    />

    <span
        class="js-aiassistant-search-enhancer"
        data-integration="{settings.search.integration}"
        data-form-selector="{settings.search.formSelector}"
        data-optimizer-profile="{settings.assistantProfile}"
        data-chat-identifier="{chatIdentifier}"
        hidden
    ></span>

</html>
